* {
	box-sizing: border-box;
}

.body {
	margin: 0;

}

header {
	position: static;
	height: 90px;
	background-color: blue;
	border-radius: 0px;
	margin-bottom: 30px;
	margin: 0;
}

h1 {
	color: white;
	margin: 0;
	padding: 30px;
}

ul {
	position: relative;
	top: 10px;
	list-style: none;
    margin: 0;
    padding: 20px;
}

li {
	position: relative;
	right: 20px;
}

a {
	font-size: 20px;
    padding: 20px;
    color: blue;
	text-decoration: none;
}

a:hover {
	color: lime;
    text-decoration: none;
}

.book__body {
	display: flex;
	height: min-content;
	position: absolute;
}

.book__container1 {
	margin-top: 40px;
	height: 457px;
	width: 282px;
	left: 5px;
	top: 100px;
	border-radius: 0px;
	background-color: rgb(244, 237, 237);
	position: fixed;
	z-index: 1;
}

.sidebar {
	text-align: center;
}

h2 {
	color: black;
	text-decoration: ; 
	margin: 0;
	padding: 30px;
}

.book__container2 {
	position: absolute;
	height: 700px;
	width: 1080px;
	margin-left: 335px;
	margin-top: 40px;
	border-radius: 0px;
}

.item__book {
}
.book__title1 {
	position: sticky;
	top: 0;
	background-color: blue;
}

.book__title2 {
	position: sticky;
	top: 15px;
	background-color: blue;
}

.book__title3 {
	position: sticky;
	top: 30px;
	background-color: blue;
}